In [1]:
# Import the dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests
import json
import gmaps
import os

# Setting the api key
from api_keys import g_key

In [2]:
# Create a new dataframe called vacation
file = "../Weatherpy/output/weatherpy.csv"
vacation = pd.read_csv(file)
vacation.head()

,City,Longitude,Latitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,sibu,111.82,2.30,87.8,74.0,75.0,2.24,MY,1.602911e+09
1,snezhnogorsk,33.25,69.19,23.0,92.0,40.0,2.24,RU,1.602911e+09
2,hermanus,19.23,-34.42,59.0,96.0,65.0,4.29,ZA,1.602911e+09
3,tosagua,-80.25,-0.78,73.4,83.0,75.0,8.05,EC,1.602911e+09
4,lagos,3.75,6.58,75.2,94.0,20.0,4.70,NG,1.602911e+09

In [3]:
# Configure the api key
gmaps.configure(api_key=g_key)

In [4]:
# Finding the location of each city and setting the humidity value.
locations = vacation[["Latitude", "Longitude"]].astype(float)
humidity = vacation['Humidity']

In [5]:
# Creating a figure for gmaps
fig = gmaps.figure()

# Create a heat layer for the gmap with the weight being humidity.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=vacation['Humidity'].max(),
                                 point_radius = 2)

# Adds the heat layer.
fig.add_layer(heat_layer)

# Shows the figure.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Adds a new column in vacation dataframe.
vacation["Hotel Name"]= ""

# To find the comfortable vacation conditions 
hotel_df = vacation.loc[(vacation['Temperature'] > 70)&
                        (vacation['Temperature'] < 90)&
                        (vacation['Cloudiness'] == 0)&
                        (vacation['Wind Speed'] < 5)]
hotel_df

,City,Longitude,Latitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
23,busselton,115.33,-33.65,73.99,33.0,0.0,1.03,AU,1.602911e+09,
55,ahome,-109.18,25.92,81.00,86.0,0.0,1.99,MX,1.602911e+09,
85,gat,34.76,31.61,71.01,72.0,0.0,4.74,IL,1.602911e+09,
127,santarem,-54.71,-2.44,82.40,83.0,0.0,4.70,BR,1.602911e+09,
238,viedma,-63.00,-40.81,73.99,54.0,0.0,4.00,AR,1.602911e+09,
332,marzuq,46.47,14.40,74.08,20.0,0.0,2.13,YE,1.602911e+09,
374,cabo san lucas,-109.91,22.89,81.00,80.0,0.0,1.01,MX,1.602911e+09,
385,nizwa,57.53,22.93,84.22,11.0,0.0,0.56,OM,1.602911e+09,
490,correntina,-44.64,-13.34,75.38,36.0,0.0,3.58,BR,1.602911e+09,

In [7]:
# Creating a new url to find hotels within 5000 meters.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
radius = 5000

# Creating parameters to find specifically hotels.
param = {
    "radius" : radius,
    "types" : "hotels",
    "key" : g_key
}

# To go through all the rows and pull the coordinates.
for index, rows in hotel_df.iterrows():
    lat = rows['Latitude']
    lng = rows['Longitude']

# Adding a new parameter, location
    param["location"] = f'{lat},{lng}'

# Creating an api request
    hotels = requests.get(base_url,params = param)
    hotels = hotels.json()

# Will append the hotel name and if there does not exist a hotel, it will skip.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels['results'][1]['name']
    except(KeyError, IndexError):
        print('Hotel not found')

C:\Users\Kevin\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [8]:
# If there are empty values(Hotels not in vacinity)
# removes the value
hotel_df = hotel_df.replace(r'^\s*$', np.NaN, regex=True)
hotel_df = hotel_df.dropna(how = 'any')
hotel_df

,City,Longitude,Latitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
23,busselton,115.33,-33.65,73.99,33.0,0.0,1.03,AU,1.602911e+09,Observatory Guest House
55,ahome,-109.18,25.92,81.00,86.0,0.0,1.99,MX,1.602911e+09,Panoramic
85,gat,34.76,31.61,71.01,72.0,0.0,4.74,IL,1.602911e+09,Tel Aerni Tel Jet
127,santarem,-54.71,-2.44,82.40,83.0,0.0,4.70,BR,1.602911e+09,Hotel Imperador
238,viedma,-63.00,-40.81,73.99,54.0,0.0,4.00,AR,1.602911e+09,Hotel Cristal
332,marzuq,46.47,14.40,74.08,20.0,0.0,2.13,YE,1.602911e+09,مسجد زغره
374,cabo san lucas,-109.91,22.89,81.00,80.0,0.0,1.01,MX,1.602911e+09,Hotel Tesoro Los Cabos
385,nizwa,57.53,22.93,84.22,11.0,0.0,0.56,OM,1.602911e+09,Orient Apartments
490,correntina,-44.64,-13.34,75.38,36.0,0.0,3.58,BR,1.602911e+09,Real Expresso Ltda

In [9]:
# Creates a template for the hotel markers
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

# For loop to run through the dataframe.
# Pulls information and uses the template above.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Location of each hotel
locations = hotel_df[["Latitude", "Longitude"]]

In [10]:
# New figure
fig = gmaps.figure()

# New layer called hotel
# Add it to the figure
hotel_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Create a new figure and combine both layers.
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))