In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests
import gmaps
import os

from api_keys import g_key

In [7]:
file = "../Weatherpy/output/weatherpy.csv"
vacation = pd.read_csv(file)
vacation.head()

,City,Longitude,Latitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,sibu,111.82,2.30,87.8,74.0,75.0,2.24,MY,1.602911e+09
1,snezhnogorsk,33.25,69.19,23.0,92.0,40.0,2.24,RU,1.602911e+09
2,hermanus,19.23,-34.42,59.0,96.0,65.0,4.29,ZA,1.602911e+09
3,tosagua,-80.25,-0.78,73.4,83.0,75.0,8.05,EC,1.602911e+09
4,lagos,3.75,6.58,75.2,94.0,20.0,4.70,NG,1.602911e+09

In [8]:
gmaps.configure(api_key=g_key)

In [11]:
locations = vacation[["Latitude", "Longitude"]].astype(float)
humidity = vacation['Humidity']

In [18]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=vacation['Humidity'].max(),
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))