In [17]:
# Importing Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import json

from api_keys import weather_api_key
from citipy import citipy

In [18]:
long = (-180,180)
lat = (-90,90)

In [19]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat[0], lat[1], size=1500)
lngs = np.random.uniform(long[0], long[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

603

In [20]:
url = "http://api.openweathermap.org/data/2.5/weather?"

for i in range(10):
    query_url = url + "appid=" + weather_api_key + "&q=" + cities[i]
    response = requests.get(query_url)
    response_json = response.json()
    print(f'City name: {cities[i]}')

City name: mataura
City name: rawson
City name: ha
City name: lompoc
City name: ushuaia
City name: sorvag
City name: port lincoln
City name: verkhnevilyuysk
City name: taolanaro
City name: punta arenas

In [21]:
city_df = pd.DataFrame()
for i in range(10):
    city_df['City Names'] = cities
city_df

       City Names
0         mataura
1          rawson
2              ha
3          lompoc
4         ushuaia
..            ...
598  richards bay
599  magistralnyy
600  christchurch
601         gamba
602      qaqortoq

[603 rows x 1 columns]

In [22]:
query_url = url + "appid=" + weather_api_key + "&q=" + "London"
response = requests.get(query_url)
weather_data = response.json()

print(json.dumps(weather_data,indent = 4, sort_keys = True))

{
    "base": "stations",
    "clouds": {
        "all": 88
    },
    "cod": 200,
    "coord": {
        "lat": 51.51,
        "lon": -0.13
    },
    "dt": 1602638645,
    "id": 2643743,
    "main": {
        "feels_like": 279.66,
        "humidity": 87,
        "pressure": 1015,
        "temp": 282.47,
        "temp_max": 283.15,
        "temp_min": 282.04
    },
    "name": "London",
    "sys": {
        "country": "GB",
        "id": 1414,
        "sunrise": 1602656589,
        "sunset": 1602695364,
        "type": 1
    },
    "timezone": 3600,
    "visibility": 10000,
    "weather": [
        {
            "description": "overcast clouds",
            "icon": "04n",
            "id": 804,
            "main": "Clouds"
        }
    ],
    "wind": {
        "deg": 50,
        "speed": 3.1
    }
}

In [23]:
for i in range(10):
    query_url = url + "appid=" + weather_api_key + "&q=" + cities[i]
    response = requests.get(query_url)
    weather_data = response.json()

In [24]:
print('Why')

Why