In [67]:
# Importing Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import json
import time

from api_keys import weather_api_key
from citipy import citipy

In [33]:
long = (-180,180)
lat = (-90,90)

In [34]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat[0], lat[1], size=1500)
lngs = np.random.uniform(long[0], long[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

572

In [35]:
# url = "http://api.openweathermap.org/data/2.5/weather?"
# cities = ['New York City','London','Gitignore','Beijing','Cape Town','Syndey','Moscow']

## Starter code needed for a loop
# for i in range(10):
#     query_url = url + "appid=" + weather_api_key + "&q=" + cities[i]
#     response = requests.get(query_url)
#     response_json = response.json()
#     print(f'City name: {cities[i]}')

In [66]:
url = "http://api.openweathermap.org/data/2.5/weather?"
my_city = ['New York City','London','Gitignore','Beijing','Cape Town','Sydney','Moscow']
unit = 'imperial'

weather_df = pd.DataFrame(my_city)
weather_df = weather_df.rename(columns = {0: 'City'})

weather_df['Longitude'] = ''
weather_df['Latitude'] = ''
weather_df['Temperature'] = ''
weather_df['Humidity'] = ''
weather_df['Cloudiness'] = ''
weather_df['Wind Speed'] = ''
weather_df['Country'] = ''
weather_df['Date'] = ''

weather_df

,City,Longitude,Latitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,New York City,,,,,,,,
1,London,,,,,,,,
2,Gitignore,,,,,,,,
3,Beijing,,,,,,,,
4,Cape Town,,,,,,,,
5,Sydney,,,,,,,,
6,Moscow,,,,,,,,

In [68]:
for i, rows in weather_df.iterrows():
    query_url = url + "appid=" + weather_api_key + "&units=" + unit + "&q=" + rows['City']
    response = requests.get(query_url)
    weather_data = response.json()
    try:
        weather_df.loc[i,'Longitude'] = weather_data['coord']['lon']
        weather_df.loc[i,'Latitude'] = weather_data['coord']['lat']
        weather_df.loc[i,'Temperature'] = weather_data['main']['temp_max']
        weather_df.loc[i,'Humidity'] = weather_data['main']['humidity']
        weather_df.loc[i,'Cloudiness'] = weather_data['clouds']['all']
        weather_df.loc[i,'Wind Speed'] = weather_data['wind']['speed']
        weather_df.loc[i,'Country'] = weather_data['sys']['country']
        weather_df.loc[i,'Date'] = weather_data['dt']
    
    except (KeyError , IndexError):
        print('Not a real city')

Not a real city

In [59]:
weather_data

{'coord': {'lon': 37.62, 'lat': 55.75},
 'weather': [{'id': 701,
   'main': 'Mist',
   'description': 'mist',
   'icon': '50d'}],
 'base': 'stations',
 'main': {'temp': 10.46,
  'feels_like': 9.23,
  'temp_min': 9,
  'temp_max': 12.22,
  'pressure': 1016,
  'humidity': 100},
 'visibility': 3000,
 'wind': {'speed': 2, 'deg': 80},
 'clouds': {'all': 40},
 'dt': 1602650928,
 'sys': {'type': 1,
  'id': 9029,
  'country': 'RU',
  'sunrise': 1602647912,
  'sunset': 1602685923},
 'timezone': 10800,
 'id': 524901,
 'name': 'Moscow',
 'cod': 200}

In [60]:
temp = weather_data['main']['temp_max']
humidity = weather_data['main']['humidity']
cloudiness = weather_data['clouds']['all']
wind_speed = weather_data['wind']['speed']

print(temp)
print(humidity)
print(cloudiness)
print(wind_speed)

10.46
100
40
2

In [69]:
weather_df

,City,Longitude,Latitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,New York City,-74.01,40.71,57.2,71,1,3.36,US,1602655143
1,London,-0.13,51.51,50,81,84,8.05,GB,1602655140
2,Gitignore,,,,,,,,
3,Beijing,116.4,39.91,57.99,19,64,6.71,CN,1602654926
4,Cape Town,18.42,-33.93,59,82,0,1.12,ZA,1602655021
5,Sydney,151.21,-33.87,70,64,20,12.75,AU,1602655106
6,Moscow,37.62,55.75,53.6,100,47,4.47,RU,1602655040

In [70]:
weather_df.count()

City           7
Longitude      7
Latitude       7
Temperature    7
Humidity       7
Cloudiness     7
Wind Speed     7
Country        7
Date           7
dtype: int64

In [71]:
# Converts blank spaces to NAN
weather_df = weather_df.replace(r'^\s*$', np.NaN, regex=True)
weather_df = weather_df.dropna(how = 'any')
weather_df.count()

City           6
Longitude      6
Latitude       6
Temperature    6
Humidity       6
Cloudiness     6
Wind Speed     6
Country        6
Date           6
dtype: int64

In [72]:
weather_df

,City,Longitude,Latitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,New York City,-74.01,40.71,57.20,71.0,1.0,3.36,US,1.602655e+09
1,London,-0.13,51.51,50.00,81.0,84.0,8.05,GB,1.602655e+09
3,Beijing,116.40,39.91,57.99,19.0,64.0,6.71,CN,1.602655e+09
4,Cape Town,18.42,-33.93,59.00,82.0,0.0,1.12,ZA,1.602655e+09
5,Sydney,151.21,-33.87,70.00,64.0,20.0,12.75,AU,1.602655e+09
6,Moscow,37.62,55.75,53.60,100.0,47.0,4.47,RU,1.602655e+09